/**
 * index.scss
 * - Add any styles you want here!
 */


 body {
  background: url(https://media.giphy.com/media/14zSZXA5q24PC/source.gif);
  color: rgb(250, 253, 247);
  font-family: 'Permanent Marker', sans-serif;

  /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** l'image fait toujours la même hauteur **/
img{
  margin: 40px;
  border: 1px solid yellow;
  padding: 10px;
  height: 40vh;
  width: auto;
}
/** les titres ne sont pas trop grands **/
h1{
  max-width: 800px;
  line-height: 1.5;
}
h1{
  font-size: 30px;
}

/** boutons **/
.btn {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:"Permanent Marker";
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btn:hover{
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn:active {
	position:relative;
	top:1px;
}


/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}
.btn{
  margin: 15px;
}
.signature{
  background-color: #ffaa22;
  position:absolute;
  top:5px;
  box-shadow: 5px 1px 22px 20px rgba(0,0,0,0.29);
  right:5px ;
}



/** faire bouger un peu tout ça **/
h1,
h2 {
  animation-name: fade-in;
  animation-duration: 1s;
}
ul{
  margin: 0; 
  padding: 0;
  list-style-type: none;
}

ul li{
  display: inline-block; /* Permet d'aligner les éléments les uns à coté des autres*/
  margin: 0 0 0 20px;
}
